html{
    /*background-color: #FFF398;*/
    background-image: url("../images/beach.jpg");
    height: 100%;
}

/* Start Nav styling */
.regNav{
    background-image: linear-gradient(to right, white, rgb(0,255,255));
    display: flex;
    background-color: white;
    width: 100%;
    margin-top: 1px;

}
.regNav a{
    margin-right: 1.5em;
    font-size: 2em;
    color: black;
    text-decoration: none;
}
.regNav a:hover{
    cursor: pointer;
    color: rgb(0, 255, 255);
}
/* End Nav styling */

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Start header styling */
.aboutContainer{
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 60%;
    width: 75%;
    box-shadow: 5px 10px 8px 2px black;
    border-radius: 10px;
}
.picAndText{
    display: flex;
    justify-content: space-evenly;
    height: 95%;
    align-items: center;
    margin: 0;
}
.contactInfo{
    display: flex;
    justify-content: space-between;
    height: 5%;
    margin-bottom: 10px;
}
.contactInfo a{
    text-decoration: none;
    color: rgb(0, 255, 255);
    margin-right: 3em;
    margin-left: 3em;
    font-size: 1.5em;
}
.contactInfo a:hover{
    cursor: pointer;
}
.headShot{
    background-image: url("../images/Janelle.JPEG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid rgb(0, 255, 255);
    height: 80%;
    width: 45%;
}
.aboutText{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 1.7vw;
    margin: 0;
}
/* End header styling */
footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-top: 10px;
    text-align: center;
    transform: translate(-75px);
}